.Navbar{
    background-color: #4c3398 !important;
    height: 45px !important;
    z-index: 300 !important;
    /* position:relative !important; */
    /* display: flex; */
    /* position: fixed !important; */
    width: 100%;
    
    

}


.Navbar_left_content ul .link{
    padding: 10px !important;
    margin-left: -30px;
    list-style: none;
    text-decoration: none;
    color: white;
    font-weight: 500;
    color: white;
}
.Navbar_right_content ul li{
    margin: 10px;
    list-style: none;
    color: white;
    display: flex;
    align-items: center;
    /* z-index: 4234234234; */
}

.getircolor{
    color: #ffd301 !important;
}
.link{
    
    /* background: #5d3ebc; */
    border-radius: 10px 10px 0px 0px;
    width: 6rem;
    height: 2.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.link:hover{
    background: #5d3ebc;
    border-radius: 10px 10px 0px 0px;
    width: 6rem;
    height: 2.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(min-width:767px){
    .Navbar_right_content span{
        display: none;
    
    }
    .Navbar_right_content i{
        color: #dbdcff;
    }
  

}

@media(min-width:992px){
    .Navbar{
        /* max-width: 1320px !important; */
        justify-content: center;
    }
    .Navbar_content{
        max-width: 1320px;
        justify-self: center;
        margin: 0 auto;
        
    }

    .Navbar_right_content span{
        display: block;
    
    }
}