/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(21, 91%, 17%);
    --clr-primary-2: hsl(21, 84%, 25%);
    --clr-primary-3: hsl(21, 81%, 29%);
    --clr-primary-4: hsl(21, 77%, 34%);
    --clr-primary-5: hsl(21, 62%, 45%);
    --clr-primary-6: hsl(21, 57%, 50%);
    --clr-primary-7: hsl(21, 65%, 59%);
    --clr-primary-8: hsl(21, 80%, 74%);
    --clr-primary-9: hsl(21, 94%, 87%);
    --clr-primary-10: hsl(21, 100%, 94%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }
  /*
  =============== 
  Global Styles
  ===============
  */
  
  *,
  ::after,
  ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  .slider_content{
    height: 500px;
    width: 100%;
    background: linear-gradient( 90deg, #5d3ebc 0%, rgba(93,62,188,0) 100% );
    z-index: 0;
    position: absolute;
  }
  .slider_content_colorless{
    height: 500px;
    width: 100%;
    /* z-index: 23 !important; */
    position: absolute;
  }
  .getircarsi_slider_content{
    height: 500px;
    width: 100%;
    position: absolute;
    padding: 0;
    top: 45px;
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  .section{
    height: 500px;
    width: 100%;
  }
  
  .slider_content .logo,
  .slider_content h1{
    background: transparent ;
    color: white;
  }
  .country-name{
    display: none;
  }
  .react-tel-input input{
    width: 104px !important;
    padding-left: 39px !important;
  }
  .getircarsi_phoneinput input{
    background: #fff !important;
  }
  .react-tel-input input:focus{
    color: #212529 !important;
    background-color: #fff !important;
    border-color: #5d3ebc !important;
    border: 2px solid #5d3ebc;
    outline: 0 !important;
    box-shadow: none !important;
    cursor:none !important;
  }
  .react-tel-input input:hover{
    cursor: default !important;
  }
  .react-tel-input .flag-dropdown {
    background-color: transparent !important;
    border: none !important;
}
.react-tel-input .country-list{
  width: 104px !important;
}
.react-tel-input{
  width: auto !important;  
}
.react-tel-input .selected-flag .arrow{
  left: 80px !important;
}
  .slider_content .logo img{
    width: 180px;
    height: 180px;
    background: transparent !important;
  }
  .phone_area{
    width: 400px;
    height: auto;
    background-color: #fafafa;
    border-radius: 8px;
  }
  .react-tel-input .selected-flag:hover{
    background-color: transparent !important;

  }
  .getircarsi_phone_area{
    width: 400px;
    height: auto;
    background-color: #fafafa;
    border-radius: 15px;
    position: absolute;
    right: 0;
  }
  .getircarsi_find_location{
    background-color: #a2a2a2;
    padding: 6px;
    border-radius: 6px;
  }
  .getircarsi_find_location p{
    color: white;
    font-size: 14px;
    font-weight: 500;
  }
  .getircarsi_find_location svg
  .getircarsi_find_l{
    color: white !important;
  }
 
  .getircarsi_phoneinput input{
      height: 57px !important;
  }
  .getircarsi_image,
  .getirsu_image{
    height: 500px;
    object-fit: cover;
    /* margin-top: 45px; */

  }
  .getirsumain{
    font-size: 70px;
    font-size: 900;
  }
  
  .flag .arrow{
    content:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEwIDYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik05IDFMNSA1TDEgMSIgc3Ryb2tlPSIjNUQzRUJDIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K') !important ;
  }
  .phone_area input::placeholder{
    font-size: 13px;
  }

  article {
    position: absolute;
    left: 0;
    width: 100% !important;
    height: 500px !important;
    opacity: 0;
    transition: var(--transition);
  }
  article img{
    height: 100%;
    width: 100%;
    background-color: red;
    object-fit: cover;
  }

  article.activeSlide {
    opacity: 1;
    transform: translateX(0);
  }
  article.lastSlide {
    transform: translateX(-100%);
  }
  article.nextSlide {
    transform: translateX(0%);
  }
  @media(min-width:992px){
    .slider_content_responsive{
      max-width: 1320px;
    }
  }