body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #fafafa;
  z-index: 0;
}
/* ----BUTTON---- */
.mainbutton{
  background-color: #ffd301;
  color: #5d3ebc;
  border: none;
  padding: 14px 16px;
  font-weight: 600;
  font-size: 14px;
}
.maincolor{
  color: #5d3ebc;
}
.maintext{
color: #5d3ebc;
font-size: 14px;
font-weight: 600;
padding: 0;
margin: 0;
box-sizing: border-box;

}
.mainbutton:hover{
  background-color: #5d3ebc;
  color: #ffd301;
 
}
.maininput{
  height: 49px !important;
}
.mainphoneinput{
  height: 49px !important;
}

.getir_section,
.getiryemek_section,
.getirbuyuk_section,
.getirsu_section,
.getircarsi_section{
  background-color: #fafafa;
}

@media(min-width:767px){
  .getir_section,
  .getiryemek_section,
  .getirbuyuk_section,
  .getirsu_section,
  .getircarsi_section{
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
  }

}

@media(min-width:992px){
  .getir_section,
  .getiryemek_section,
  .getirbuyuk_section,
  .getirsu_section,
  .getircarsi_section{
    max-width:1320px !important ;
    background-color: #fafafa;
  }
}